/* PC、スマホ共通スタイル */
* {
    box-sizing: border-box;
}

p {
    font-size: 16px;
    color: #534e48;
}

body {
    max-width: 100%;
    margin: 0 auto 0 auto;
    font-family: "Hiragino Mincho ProN","ヒラギノ明朝 ProN",serif;
    background-color: #dbbd9b;
}

h2 {
    font-size: 48px;
}

.index-h2 {
    font-size: 48px;
    margin: 0;
    padding: 40px 0px;
    text-align: center;
    color: #534e48;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.32);
}

h3 {
    font-size: 32px;
    text-align: center;
    color: #534e48;
}

#logo {
    max-width: 40px;
    max-height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

/* リングと内容 */
.content-flex {
    display: flex;
}

.ring {
    width: 70px;
    margin-top: 0;
    margin-left: 0;
}

.main-content {
    max-width: 100%;
    margin: 0 auto;
}

/* ローディング画面のスタイル */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fad3d4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loading-text {
    margin: 0;
    padding-bottom: 20px;
}

/* ローディングアニメーション（クルクル回る） */
.spinner {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* PC用カルーセル設定 */
.carousel {
    margin: 0 20px 0 20px;
}

.carousel-item {
    position: relative;

}

.carousel-text {
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.32);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(30deg);
    transform: translate(-50%, -50%);
}

.carouselImg {
    max-width:100%;
}

/* ヘッダー　*/
header {
    display: flex;
    justify-content: space-between;
}

header > #logo {
    width: 40px;
}

/* ナビゲーションのレイアウト*/
#nav-pc {
    font-size: 16px;
}

#nav-pc ul {
    display: flex;
    padding-left: 0;
}

#nav-pc li {
    list-style: none;
}

/* ナビゲーションリンクの装飾設定 */
#nav-pc a {
    text-decoration: none;
    margin-left: 20px;
    color: #534e48;
}

#nav-pc a:hover {
    text-decoration: underline;
}

/* About */
#about {
    max-width: 100%;
}

.about-inner {
    padding: 20px 40px 40px 40px;
    text-align: center;
    background-color: white;
}

.about-outer {
    padding: 20px;
    background-color: #f0eb9e;
    max-width: 960px;
    margin: 0 auto;
}

.about-flex {
    display: flex;
}

.about-left {
    padding: 100px 20px 0 20px;
}

.about-right {
    padding: 0 20px;
}

/* Skill */
.skill-inner {
    max-width: 800px;
    margin: 0 auto;
}

.skill-flex {
    display: flex;
    text-align: center;
}

.coding-flex {
    display: flex;
}

.design {
    padding: 20px;
    background-color: #9ac4f0;
}

.coding {
    padding: 20px;
    background-color: #fad3d4;
}

.coding-left {
    padding: 0 20px;
}

.coding-right {
    padding: 0 20px;
}

.design-inside {
    padding: 20px 40px 120px 40px;
    background-color: white;
}

.coding-inside {
    padding: 20px;
    background-color: white;
}

.skill-photo {
    padding: 10px 10px 0px 10px;
}

span {
    background-color: rgba(250, 211, 212, 0.5);
}

/* Works */
.works-photo {
    width: 350px;
    padding: 20px;
}

.works-inner {
    padding: 0px 10px;
}

.flexbox-container {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 900px;
}

/* Contact */
.contact-inner {
    text-align: center;
    background-color: white;
    padding: 20px;
}

.contact-outer {
    padding: 20px;
    background-color: #f0eb9e;
    max-width: 600px;
    margin: 0 auto;
}

.contact-flex {
    display: flex;
    
}

.address {
    border-bottom: dotted 3px #534e48;
    margin: 0;
    padding-top: 50px;
}

/* footer */
footer {
    text-align: center;
}

.footer-inner {
    padding: 10px 0;
}

/* 制作物個別ページ */
.works-content {
    margin: 0 auto;
}

#production-outer {
    background-color: #f0eb9e;
    padding: 20px;
    margin: 10px auto 0px auto;
}

#production-inner {
    max-width: 1040px;
    background-color: white;
    padding: 20px;
}

#heading-left {
    border: solid 2px #534e48;
    border-radius: 30px;
    padding: 0px 15px;
    margin: 10px;
}

#label {
    margin: 5px 0;
}

.heading-flex {
    display: flex;
    align-items: center;
}

.index-h3 {
    margin: 0;
}

.explain-flex {
    display: flex;
}

#works-explain {
    padding: 0 20px;
}

#URL {
    padding: 0 20px;
    text-decoration: none;
}

#summary {
    text-decoration: underline;
}

#purpose {
    text-decoration: underline;
}

#target-group {
    text-decoration: underline;
}

#point {
    text-decoration: underline;
}

#period {
    text-decoration: underline;
}

#tool {
    text-decoration: underline;
}

#body-flex {
    display: flex;
    padding: 40px 40px 0px 40px;
}

#LP-left {
    padding: 20px 20px 0 20px;
}

#LP-right {
    padding: 20px;
}

#URL {
    margin: 0 0 0 130px;
}

#URL-left {
    text-decoration: none;
}

#URL-right a {
    text-decoration: none;
    color: #534e48;
}

#URL-right a:hover {
    text-decoration: underline;
}

.URL-flex {
    display: flex;
}

/* Other works */
.otherworks-heading {
    padding:20px 0 0 0;
    text-align: center;
    color: #534e48;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.32);
    margin: 0;
}

.otherworks-container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px 0 0 0;
}

.otherworks-photo {
    width: 270px;
    padding: 15px;
}

#otherworks-explain {
    text-align: center;
    margin: 0;
}

/* 404エラー */
.error-content {
    margin: 0 auto;
}

#error {
    margin: 0;
    text-align: center;
}

#error-inner {
    background-color: white;
    padding: 20px;
}

#error-outer {
    background-color: #f0eb9e;
    padding: 20px;
    max-width: 405px;
    margin: 100px 0;
}

.btn {
  display: inline-block;
  background-color: white;
  border: solid 1px #534e48;
  border-radius: 30px;
  width: 150px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 5px 0px #534e48;
  transition: .3s;
}

.btn {
    color: #534e48;
    font-weight: bold;
}

.btn:hover {
    box-shadow: unset;
    transform: translateY(4px);
    color: white;
    border: solid 1px #534e48;
    background-color: #534e48;
}

.btn:active {
  top: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

/* トップに戻るボタン */
.page-top {
    position: fixed;
    bottom: 38px;
    right: 20px;
    color: #534e48;
    text-align: center;
    padding: 29px 24px;
    background-color: white;
    border: solid 1px white;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 5px 0px #534e48;
    transition: .3s;
    font-family: "Hiragino Mincho ProN","ヒラギノ明朝 ProN",serif;
}

.page-top:hover {
    box-shadow: unset;
    transform: translateY(4px);
    color: white;
    border: solid 1px #534e48;
    background-color: #534e48;
}
